extends ../shared/template
block content
    h1 All About Aliens
    h4
      i.fa.fa-reddit-alien.fa-5x.fa-spin
    marquee(scrollamount='25' direction='left')
      img(src='http://www.harpsurgery.com/wp-content/uploads/2014/02/Flying-Saucer-2.jpg')

    img(src='http://laughingsquid.com/wp-content/uploads/2015/06/Kzp8Rg.gif' style='display:inline')

    marquee(scrollamount='25' direction='down')
      img(src='https://upload.wikimedia.org/wikipedia/commons/2/28/Alien_head.gif')
